<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inversor de cadenas</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Inversor de Cadenas</h1>
    <p>Introduce una cadena de texto y obtendrás su orden invertido:</p>
    
    <div>
      <input type="text" id="texto" placeholder="Ingrese su texto aquí">
      <button onclick="invertirTexto()">Invertir</button>
    </div>
    
    <div class="resultado-container">
      <h4>Cadena Invertida:</h4>
      <p id="resultado"></p>
    </div>
  <script src="script.js"></script>
</body>
</html>